body {
	background-color: rgb(254, 229, 217);
}

.page {
	width: 1200px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
  }

.figure {
	color: black;
	font-family: "Average", sans-serif;
	font-weight: bold;
	font-weight: 500;
	font-size: 14px;
	top: 25px;
	bottom: 0px;
	position: relative;
	margin-top: 0px; 
	margin-bottom: 10px;
	text-align: center;
}

.map {
	font-family: "Average", sans-serif;
	top: 25px;
	bottom: 0px; 
	left: 0px;
	right: 0px;
	
}

.bar {
	font-family: "Average", sans-serif;
	top: 25px;
	bottom: 0px; 
	left: 0px;
	right: 0px;
	
}

.text-map {
	font-size: 17px;
	font-family: "Average", sans-serif;
	position: relative;
    text-align: justify;
    text-justify: inter-word;
	margin-right: 25px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.text-bar {
	font-size: 16px;
	font-family: "Average", sans-serif;
	position: relative;
    text-align: justify;
    text-justify: inter-word;
	margin-right: 25px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.name {
	font-family: 'Average', sans-serif;
}

hr {
	display: block;
	margin-top: 60px;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
  }
  
h1 {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

h2 {
	font-family: 'Average', sans-serif;
}

h3 {
	font-family: 'Average', sans-serif;
}

